@charset "utf-8";
/* reset */
html,body { width:100%; height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
body,h1,h2,h3,h4,input,button { font-size:12px; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }

/*base*/
body { background:#e1e1e1 fixed no-repeat center top url(../images/bg.jpg); font:12px/18px "돋움"; color:#767676; }
.blind { position:absolute; top:-9999px; } /*display:none; 넣으면 안보이지만 스크린리더기가 해석해서 안읽고 없는걸로침. 없애면 안되고 안보이게 해야함.*/
.skip_navigation a { position:absolute; top:-9999px; }
.skip_navigation a:focus { top:0px; background:red; color:white; }
a { text-decoration:none; color:#767676; }
a:hover { color:orange; }

/* layout */
#header { position:absolute; left:0px; top:0px; width:100%; /*opacity:0.5; */ /*height:70px;*/ background-color:rgba(37,37,37,0.8); a(alpha):색상투명도
		border:3px solid skyblue; background-image:url(../images/header_bg.png);
}

#header .inner { position:relative; margin:0 auto; width:978px; height:70px; border:1px dashed blue; }

#visual { /*height:510px;*/ /*background:center top no-repeat url(../images/visual.jpg); */ padding-top:70px; border:7px solid orange; }
#visual .inner { position:relative; margin:0 auto; width:978px; height:510px; border:5px dashed red; }

#contents { margin:0 auto; margin-top:59px; margin-bottom:65px; width:978px; /*height:778px; background:yellowgreen;*/ border:2px dashed #777; }
#contents:after { content:""; display:block; clear:both; }

#footer { /*height:130px;*/ background:white; }
#footer .inner { position:relative; margin:0 auto; width:978px; height:130px; /*border:1px dashed blue;*/ }

/*header*/
h1 { position:absolute; left:27px; top:25px; width:100px; height:30px; /*background:green;*/ }
.gnb { position:absolute; left:240px; top:30px; /*width:552px;*/ height:12px; /*background:hotpink;*/ }
.gnb li { float:left; margin-right:43px; }

.search { position:absolute; right:23px; top:25px; width:120px; height:20px; /*border:2px dashed yellow;*/ }
.search #t1 { border:0; width:95px; height:20px; /*background:red;*/ }
.search input { float:left; } /*폼요소간의 수직어긋남을 맞춤*/

/*visual*/
.visual_typo { position:absolute; left:27px; top:172px; border:2px solid skyblue; }

/*contents*/
#contents > div { float:left; background-color:white; }
#contents > div h2 { padding:30px 0 13px 27px; /*padding-top:30px; padding-left:27px; padding-bottom:13px;*/ border:1px solid red; }
#contents > div p { padding:0 27px; /*padding-left:27px; padding-right:27px;*/ border:1px solid blue; }
#contents > div ul { padding:0 27px; /*padding-left:27px; padding-right:27px;*/ border:1px solid blue; }
#contents > div ul li { background:0px 8px no-repeat url(../images/dot.gif); padding-left:9px; border:1px dashed orange; }
#contents > div ul li span.date { float:right; }
#contents > div a:hover { opacity:0.7; }

.section1 { width:318px; height:365px; margin-right:12px; }
.section2 { width:318px; height:365px; margin-right:12px; margin-bottom:15px; }
.section3 { width:318px; height:365px; }
.section4 { width:486px; height:398px; margin-right:12px; }
.section5 { width:480px; height:398px; }

/*footer*/
.f_logo { position:absolute; left:27px; top:58px; } 
.address { position:absolute; left:166px; top:53px; } 
.copyright { position:absolute; left:167px; top:76px; } 
.f_link { position:absolute; left:519px; top:74px; } 
.f_link li { float:left; }
.f_link li:last-child { background:6px 0px no-repeat url(../images/line.gif); padding-left:12px; }
/* CSS Document */

